body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    text-align: center;
    background-image: url(/valentine-hearts-background-free-vector.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}
.container {
    position: relative;
}
.button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    font-size: 18px;
    cursor: pointer;
}
.button-no {
    background-color: red;
    color: white;
}
.button-yes {
    background-color: green;
    color: white;
}